/*  your css code here. If applicable */
.first {
	color :  #2a7ae2;
}
.second {
	color :  #f44336;
}
.third {
	color :  #4caf50;
}
.fourth {
	color :  #ff9800;
}
.fifth {
	color :  #607d8b;
}
.six {
	color :  #ffeb3b;
}
